set ignorecase
set smartcase

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

" https://youtrack.jetbrains.com/issue/VIM-959
set ideamarks

" Incrementally search
set incsearch

" https://youtrack.jetbrains.com/issue/VIM-1521
set commentary
set selectmode=ideaselection

let mapleader = ","
" Alt + F7 in idea.
" Find usages in file is Ctrl + F7.
" Alt + E, then F, then U (through the menu bar) also seems to work fine.
map <Leader>f :action FindUsages<CR>

" Jump to next/previous error, show error description
" https://stackoverflow.com/questions/13346245/keyboard-shortcut-to-display-error-in-intellij
map <Leader>e :action ShowErrorDescription<CR>
map <Space> :action GotoNextError<CR>

" Shift + F6 in idea.
" Alt + R, then R (through the menu bar) also seems to work fine.
map gr :action RenameElement<CR>

" <M-A-B> in idea
" goes to the source
map gs :action GotoImplementation<CR>

" <A-F7> <C-F> in idea
map gu :action FindUsages<CR>

" Fix doc comment adds/fixes javadoc
map gj :action FixDocComment<CR>

" <M-A-L> <A-F> in idea
" Run the reformatter on a code section
map gf :action ReformatCode<CR>

" Dumb but helps write sometimes when I would normally screw up
map :W :w<CR>

" Open quick java doc
map <Leader><Leader> :action QuickJavaDoc<CR>
